body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
/* Header style  */
.header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(243, 239, 230);
  padding: 20px;
}
.header h1{
  font-size: 40px;
  font-weight: 700;
  color: black;
}
.header h1 span{
  color: orangered;
}
/* Search area style  */
.search-area{
  display: flex;
  margin:20px;
}
.input-field {
  border: 1px solid rgb(3, 118, 211);
  padding: 10px;
  font-size: 20px;
  background: #f1f1f1;
  outline: none;
}
.input-button {
  border: 1px solid rgb(3, 118, 211);
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 20px;
  border-left: none;
  cursor: pointer;
}
.input-button:hover {
  background: #0b7dda;
}
/* Products area style */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  height: 500px;
  padding: 10px;
  transition: 0.6s;
  border-radius: 15px;
  background-color: rgb(251 253 243);
  box-shadow: 10px 10px 20px rgb(228, 243, 172);
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 2px solid rgb(6, 171, 236);
}
.product-image {
  width: 150px;
  height: 150px;
}
/* Shopping cart style  */
.cart {
  width: 350px;
  padding: 10px;
  margin-right: 30px;
  position: fixed;
  border-radius: 15px;
  background-color: rgb(243 232 234);
  box-shadow: 10px 10px 20px rgb(200 226 229);
}
.cart-main {
  padding-right: 30px;
}
/* Responsive style for medium devices  */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
/* Responsive style for small devices  */
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .header{
    display: block;
    background-color: rgb(243, 239, 230);
    padding: 20px;
  }
  .header h1{
    text-align: center;
  }
  .search-area{
    display: flex;
    margin:auto;
  }
}
